input{
    width: 40px;
    border-radius: 5px;
}
.container{
    background-color: #B5E8E4;
    height: 735px;
}
.principal{
    width: 40%;
    float: left;
    text-align: center;
    margin-top: 200px;
    padding: 10px;
    background-color: #949B9B;
    border-radius: 10px;
}
.izq{
    width: 30%;
    height: 0.1px;
    float: left;
}
.der{
    width: 30%;
    height: 1px;
    float: left;
}
#message{
    border-radius: 5px;
}